trigger:
  paths:
    include:
      - terraform/**
  branches:
    include:
      - main

stages:
- stage: Terraform
  displayName: 'Provision Infrastructure'
  jobs:
  - job: Terraform_Apply
    displayName: 'Terraform Apply'
    pool:
      name: 'linux-hosted-agent-pool'
    steps:

    - task: DownloadSecureFile@1
      name: download_ssh_key
      inputs:
        secureFile: 'id_rsa_azure.pub'

    - script: |
        mkdir -p terraform/modules/compute
        cp $(download_ssh_key.secureFilePath) terraform/modules/compute/id_rsa.pub
        ls -al terraform/modules/compute/
      displayName: "Place SSH public key for Terraform"

    - script: |
        echo "Terraform version check:"
        terraform -version || echo "Terraform not found!"
      displayName: "Check Terraform is installed"

    - task: AzureCLI@2
      inputs:
        azureSubscription: 'azure-connection'
        scriptType: bash
        scriptLocation: inlineScript
        workingDirectory: $(System.DefaultWorkingDirectory)/terraform
        inlineScript: |
          export ARM_USE_AZUREAD=true
          unset ARM_USE_AZURECLI_AUTH
          terraform init -input=false
          terraform plan -input=false -var-file="envs/dev.tfvars"
          terraform apply -input=false -auto-approve -var-file="envs/dev.tfvars"
