trigger:
  paths:
    include:
      - terraform/**
  branches:
    include:
      - main

stages:

- stage: Terraform
  displayName: 'Provision Infrastructure'
  jobs:
  - job: Terraform_Apply
    displayName: 'Terraform Apply'
    pool:
      name: 'linux-hosted-agent-pool'
    steps:
 
    # Not needed for hosted vm
    # - task: UsePythonVersion@0
    #   inputs:
    #     versionSpec: '3.x'

    - task: DownloadSecureFile@1
      name: download_ssh_key
      inputs:
        secureFile: 'id_rsa_azure.pub'

    - script: |
        echo "Copying SSH public key into Terraform module"

        mkdir -p ~/.ssh
        cp $(download_ssh_key.secureFilePath) ~/.ssh/id_rsa_azure.pub

        # Now copy into Terraform module path
        cp $(download_ssh_key.secureFilePath) terraform/modules/compute/id_rsa_azure.pub

        echo "Listing contents of terraform/modules/compute/"
        ls -al terraform/modules/compute/
      displayName: 'Extract SSH Public Key for Terraform'

    - script: |
        echo "Checking if Azure CLI is installed..."
        if ! command -v az &> /dev/null
        then
          echo "Azure CLI not found. Installing..."
          curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
        else
          echo "Azure CLI already installed. Updating..."
          sudo apt-get update -y
          sudo apt-get install --only-upgrade -y azure-cli
        fi
        az --version
      displayName: "Ensure Azure CLI is installed"

    - script: |
        echo "Checking if Terraform is installed..."
        if ! command -v terraform &> /dev/null
        then
          echo "Terraform not found. Installing..."
          sudo apt-get update -y
          sudo apt-get install -y gnupg software-properties-common curl
          curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
          sudo apt-get update -y
          sudo apt-get install -y terraform
        else
          echo "Terraform already installed:"
          terraform -version
        fi
      displayName: "Ensure Terraform is installed"


    - task: AzureCLI@2
      inputs:
        azureSubscription: 'azure-connection'
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          echo "Logged into Azure"
          az account show

    - script: |
        cd terraform
        terraform init -input=false
        terraform plan -input=false -var-file="envs/dev.tfvars"
        terraform apply -input=false -auto-approve -var-file="envs/dev.tfvars"
      displayName: "Terraform Init/Plan/Apply"
