trigger:
  branches:
    include:
      - main
  paths:
    include:
      - terraform/**

stages:
- stage: Terraform
  displayName: 'Provision Infrastructure'
  jobs:
  - job: Terraform_Apply
    displayName: 'Terraform Apply'
    pool:
      name: 'linux-hosted-agent-pool'
    steps:

    - task: DownloadSecureFile@1
      name: download_ssh_key
      inputs:
        secureFile: 'id_rsa_azure.pub'

    - script: |
        mkdir -p terraform/modules/compute
        cp $(download_ssh_key.secureFilePath) terraform/modules/compute/id_rsa.pub
      displayName: "Place SSH public key for Terraform"

    - script: |
        echo "Checking if unzip is installed..."
        if ! command -v unzip >/dev/null 2>&1; then
          echo "unzip not found, installing..."
          if [ -x "$(command -v apt-get)" ]; then
            sudo apt-get update
            sudo apt-get install -y unzip
          elif [ -x "$(command -v yum)" ]; then
            sudo yum install -y unzip
          else
            echo "Package manager not found. Please install unzip manually."
            exit 1
          fi
        else
          echo "unzip already installed."
        fi
      displayName: "Ensure unzip is installed"


    - task: TerraformInstaller@0
      displayName: 'Install Terraform'
      inputs:
        terraformVersion: '1.7.2'

    - task: TerraformTaskV4@4
      displayName: 'Terraform Init'
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform'
        backendServiceArm: 'azure-connection'

    - task: TerraformTaskV4@4
      displayName: 'Terraform Plan'
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform'
        environmentServiceNameAzureRM: 'azure-connection'
        commandOptions: '-var-file="envs/dev.tfvars"'

    - task: TerraformTaskV4@4
      displayName: 'Terraform Apply'
      inputs:
        provider: 'azurerm'
        command: 'apply'
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform'
        environmentServiceNameAzureRM: 'azure-connection'
        commandOptions: '-var-file="envs/dev.tfvars" -auto-approve'
